@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fonts.css);

:root {
  --point1: #abd375; 
  --point2: #e8ca58;
  --point3: #c7b39a;
  --point4: #eea60a;
  --point5: #6aaee6;
}
*, *::before, *::after { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  box-sizing: border-box;
}
/* Reset CSS */
fieldset{
  padding: 0;
  border: 0 none;
}
legend, .a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0)
}
a{
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
  padding-left: 0;
}

/* grid module */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* responsive content */
.responsive {
  max-width: 100%;
  height: auto;
}

/* All device */
.container {
  /* background: silver; */
}
.header {
  /* background: yellow;   */
}
.navigation {
  background: pink;
}
.main {
  /* background: skyblue; */
}
.book {
  /* background: lime; */
}
.news {
  background: goldenrod;
}
.board {
  background: teal;
}
.favorite {
  background: hotpink;
}
.twitter {
  background: aqua;
}
.footer {
  background: orange;
  height: 10vh;
}
/* all search */
.search {
  /* background: yellow; */
  text-align: right;
}
[type="search"] {
  border: 1px solid #aaa;
  border-radius: 0.35rem;
  height: 2em;
  margin-right: 0.5em;
}
/* all main content */
.sprite {
  background: url(./images/sprite_main.png) no-repeat;
  height: 60px;
  padding-left: 65px;
}
/* class like ~ heading */
/* $ = ends with */
/* * = contain */
.main [class*="heading"] {
  /* border: 1px solid red; */
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-heading {
  background-position: 0 -230px;
}
.board-heading {
  background-position: 0 -115px;
}
.favorite-heading {
  background-position: 0 -345px;
}
.twitter-heading {
  background-position: 0 -460px;
}
.book-heading .point{
  /* color: #abd375; */
  color: var(--point1);
}
.news-heading .point {
  color: #e8ca58;
}
.board-heading .point {
  color: #c7b39a;
}
.favorite-heading .point {
  color: #eea60a;
}
.twitter-heading .point {
  color: #6aaee6;
}

/* recommend book */
.book-cover {
  /* background: yellow; */
  text-align: center;
}
.book-detail {
  /* background: yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-author-name {
  margin-left: 0.5em;
}
.book-grade {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: var(--point1);
}
/* p tag with "~summary" */
[class$="summary"] {
  line-height: 2;
}

/* mobile device */
@media screen and (max-width: 62.5em) {
  /* < (62.5em = 1000px) */
  /* mobile grid */
  .col-m1 {
    width: 20%;
  }
  .col-m2 {
    width: 45%;
  }
  .col-m3 {
    width: 70%;
  }
  .col-m4 {
    width: 100%;
  }
  
  /* mobile layout */

  /* mobile header */
  .header {
    background: #32302E;
    padding-bottom: 1em;
  }
  .logo, .member, .search {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* mobile search */
  [type="search"] {
    width: calc(100% - 3em);
  }

  /* mobile member */
  .member {
    order: -1;
    display: flex;
    justify-content: flex-end;
    background: #988574;
    color: #fff;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* width: calc(100% + 40px);
    position: relative;
    left: -20px; */
  }
  .member a {
    /* background: blue; */
    display: block;
    padding: 0.35em 0;
    margin-left: 1em;
  }
  
  .btn-search {
    border: 0 none;
    padding: 0;
    width: 2em;
    height: 2em;
    position: relative;
    background: transparent;
  }
  .btn-search::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/btn_search.png) no-repeat;
    background-size: cover;
  }
  
  /* mobile menu */
  .btn-menubar {
    width: 2.5em;
    height: 2.5em;
    border: 0 none;
    padding: 0;
    /* absolute to body */
    position: absolute;
    top: 5em;
    right: 20px;
    background: transparent;
    /* hide span bar */
    overflow: hidden;
    cursor: pointer;
  }
  .menubar {
    /* absolute to btn-menubar */
    position: absolute;
    left: 0;
    width: 100%;
    height: 25%;
    background: white;
    border-radius: 1em;
    /* ?????????? */
    transition: all 200ms;
  }
  .menubar-top {
    top: 0;
  }
  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-bottom {
    top: 100%;
    transform: translateY(-100%);
  }
  .nav-act .menubar-top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .nav-act .menubar-middle {
    transform: translate(-100%, -50%);
  }
  .nav-act .menubar-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .menu {
    background: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 2em;
    transform: translateX(-100%);
    /* transition: all 200ms; ??? */
  }
  .nav-act .menu {
    transform: none;
    transition: all 200ms;
    width: 75vw;
  }
  .menu-list {
    margin: 0.5em 0;
  }
  .menu-item {
    padding: 0.5em;
    background: purple;
    display: block;
  }
  .sub-menu {
    display: none;
    list-style: disc;
    padding-left: 2em;
  }
  .sub-menu li {
    margin: 0.5em 0;
  }
  .sub-menu a {
    padding: 0.5em 0;
    display: block;
  }
  .menu-act .sub-menu {
    display: block;
  }
}

/* desktop device */
@media screen and (min-width: 62.5em) {
  /* >= (62.5em = 1000px) */
  /* desktop grid */
  .col-d1 {
    width: 65px;
  }
  .col-d2 {
    width: calc(65px * 2 + 20px);
  }
  .col-d3 {
    width: calc(65px * 3 + 20px * 2);
  }
  .col-d4 {
    width: calc(65px * 4 + 20px * 3);
  }
  .col-d5 {
    width: calc(65px * 5 + 20px * 4);
  }
  .col-d8 {
    width: calc(65px * 8 + 20px * 7);
  }
  .container {
    align-items: center;
  }
  .header, .menu, .main {
    width: 1000px;
  }
  .navigation, .footer {
    width: 100%;
  }
  /* desktop header */ 
  .header {
    /* background: yellow; */
    display: block;
    position: relative;
    padding-bottom: 1.5em;
  }
  
  /* desktop logo */
  .logo {
    /* background: blue; */
    /* absolute to header */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
  }

  /* desktop member */
  .member {
    display: flex;
    justify-content: flex-end;
    /* background: lime; */
  }
  .bar::before {
    content: '|';
    margin: 0 0.5em;
  }
  .member a {
    /* background: pink; */
    display: inline-block;
    padding: 0.5em 0;
  }
  /* desktop search */
  [type="search"] {
    width: 40%;
  }
  .btn-search {
    border: 1px solid #aaa;
    border-radius: 0.35em;
    background: #988674;
    color: #fff;
    height: 2em;
    padding: 0 1em;
  }
  /* desktop main menu */
  .navigation {
    background: #988598;
    color: #fff;
    /* border-top: 2px solid #000;
    border-bottom: 2px solid #000; */
    box-shadow: 0 -1px 2px 0 #aaa, 0 1px 2px 0 #aaa;
  }
  .btn-menubar {
    display: none;
  }
  .menu {
    /* background: orange; */
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-item {
    /* background: blue; */
    font-weight: 700;
    font-size: 1.15em;
    padding: 0.35em 0;
    display: block;
    margin-bottom: 0.5em;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000,
                -1px 0 0 #000, 0 -1px 0 #000;
  }
  .sub-menu li {
    margin: 0.5em 0;
  }
  .sub-menu a {
    /* background: purple; */
    display: block;
    padding: 0.35em 0;
  }
  .main {
    justify-content: space-between;
  }
}